.main-container {
  display: flex;
  margin-top: 100px;

  @mixin mobile {
    margin-top: 20px;
  }

  @mixin tablet {
    margin-top: 40px;
  }
}

.main-content {
  margin: 0 auto;
  flex: 0 1 768px;

  & > .editable {
    margin-bottom: 1em;
  }

  @mixin mobile {
    flex: 1;
    margin: 0 20px;
  }

  @mixin tablet {
    flex-basis: 680px;
  }

  @mixin large-screen {
    flex-basis: 1024px;
  }
}

.editable {
  line-height: 1.5em;

  &:focus {
    box-shadow: none;
  }

  &:empty {
    &::after {
      content: 'Just start typing...';
      color: #d5d4d3;
    }
  }
}