main.main-container
  section.main-content
    div(id='1' class="editable" contenteditable) some words there
    div(id='2' class="editable" contenteditable)
    div(id='3' class="editable" contenteditable)