doctype html
html(lang="en")
  head
  meta(charset="utf-8")
  title Text Editor
  meta(name="viewport", content="width=device-width")
  link(rel="stylesheet", href="./common.css")

  body
    h1 Text editor
    h2 Text editor
    h3 Text editor
    h4 Text editor
    h5 Text editor
    h6 Text editor
    p Text editor
    a(href="") Text editor
    main.main-content
      div(class="editable" contenteditable)