:root {
  --base-background: #fff;
  --base-black: #2b2a2a;
  --base-text: var(--base-black);
  --base-accent: rgba(55, 53, 47, 0.18);
  --base-light-accent: rgba(55, 53, 47, 0.08);
  --base-blue: blue;
  --base-font-size: 20px;
  --base-focus: 0 0 0 2px var(--base-accent);
}

html {
  font-size: var(--base-font-size);
  font-family: 'League Spartan', serif;
  background-color: var(--base-background);
  color: var(--base-text);
}

* {
  padding: 0;
  margin: 0;
}

*:focus {
  outline: none;
  box-shadow: var(--base-focus);
  transition: box-shadow 200ms;
}

button {
  display: inline-block;
  font: inherit;
  color: inherit;
  cursor: pointer;
  border-radius: 0;
  background: none;
  border: none;
}

a[href] {
  &:active {
    color: var(--base-text)
  }

  &:visited {
    color: var(--base-text);
  }
}

button, a[href] {
  &:hover {
    background-color: var(--base-light-accent);
    transition: background 200ms;
  }

  &:active {
    transition: transform 200ms;
    transform: translateY(1px);
  }

  @mixin mobile {
    &:active {
      transform: none;
    }
  }
}

::selection {
  color: #000;
  text-shadow: none;
  background-color: var(--base-accent);
}